language: php
php:
  - 5.6
  - 5.5
  - 5.4

install:
  - composer self-update
  - composer install

before_script: composer require task/cli ~0.1

script: vendor/bin/task test

after_script:
  - composer require scrutinizer/ocular "~1.0"
  - vendor/bin/ocular code-coverage:upload --repository=g/taskphp/task --format=php-clover coverage.xml
